# App requirements
asyncpg==0.21.0
aiologger>=0.6.0
Cython>=0.29.22
fastapi[all]>=0.63.0
gunicorn>=20.0.4

# Testing requirements
codecov>=2.1.11
pytest>=6.2.2
pytest-asyncio>=0.14.0
pytest-cov>=2.11.1

